{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Санёк, автор этого сайта</h1>
<article class="col-12 col-md-9">
  <div class="container" >
    <div class="">
      <p class="text-success">После одиннадцати лет успешной работы в сфере логистики, я понял, что профессионально выгорел. 
        И данная сфера мне больше не интересна. После длительных раздумий над дальнейшим жизненным путём, выбор пал на сферу IT. 
        У меня всегда был интерес к компьютерам, программам. В школе был период изучения простейшего программирования на Basic. 
        И как помню мне это очень нравилось. И вот выбрав направление движения, встал другой непростой выбор.
        В какую сферу IT двинуть?!</p><br>
      <p>Но для меня этот выбор оказался очевидным. Я всегда очень дружил с математическими и логистическими процессами. 
        Мне было интересно как что работает, а не как что выглядит. В лет 10 я разобрал 5 будильников дома, первый пытаясь понять его устройство, 
        а остальные, чтоб понять, как собрать первый в первоначальное рабочее состояние. Именно исходя из этих своих качеств, 
        мой выбор пал на бэкенд.</p><br>
      <p>Язык программирования Python был выбран как один из самых популярный и доступных языков. Он более прост для освоения с нуля. 
        На нём написаны многие популярные сайты и приложения. Мне было интересно изучать его и делать первые шаги в написании простейших программ.</p><br>
      <p>И вот прошло каких-то 4 месяца, и я ученик школы <a class="btn btn-primary" href="https://practicum.yandex.ru/">Яндекс.Практикум</a> кагорта №54. 
        Всегда любил учиться и даётся мне это в целом довольно легко. 
        Что в принципе подтверждает и это обучение. Но в сложные моменты, когда код не пишется, ошибки валятся, руки опускаются… 
        На помощь приходит кружка любимого тонизирующего чая.</p><br>
      <img src="{% static 'img/cup.jpg' %}" width="300" height="400" class="img-responsive"><br><br>
      
    </div>
    <a class="btn btn-primary" href="https://github.com/Aleksandr27041986"><img src="{% static 'img/github-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt=""><span>Мой Github</span></a><br><br>
  </div>
</article>  
{% endblock %} 