{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        CSS
      </li>
      <li class="list-group-item">
        СУБД
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Я изучаю сферу разработки всего 4 месяца. Начал с изучения языка програмирования Python в Яндекс.Практикум. 
      В целом изучение прошло легко, помогла школьная база basic. Хорошо разобрался с циклами, ветвениями. 
      Труднее оказалось понять GET-запросы, взаимодействие с сервером.</p> 
    <p>В ожидании начала основного курса занятий, постарался самостоятельно начать изучение фреймворка Django, работу с базами данных, 
      язык гипертекстовой разметки документов HTML, языка каскадной таблицы стилей CSS. Сложнее всего пришлось в практике по работе с HMTL+CSS.
      Как человеку с явным техническим уклоном, мне трудно даётся всё что связано с оформлением, дизайном, "я - художник, я так вижу". 
      Хорошо это не основное направление работы бэкенда, для этого всегда важно иметь под рукой друга фронтенда.</p>
    <p>Во время работы над этим сайтом я применял практически весь изученный материал. Из последнего материала, труднее всего давалось создание форм и валидация. 
      Во время изучения курса моими верными помошниками стали: документация и stackoverflow. Там удается найти ответ на все свои вопросы.
    </p>
  </article>
</div>
{% endblock %} 